@import './globals.scss';

.country {
	grid-column: span 1;
	justify-self: center;
	align-self: center;
	width: 100%;
	background-color: $site-element-background-color;

	&:hover {
		cursor: pointer;
	}

	ul.country-specs {
		list-style-type: none;
		padding: 0;
	}

	.flag-cover {
		width: 100%;
		position: relative;
		background-size: cover;
		background-clip: content-box;
	}

	.flag-cover:before {
		display: block;
		content: '';
		padding-top: 250px;
	}

	.country-detail {
		display: flex;
		flex-direction: column;
		padding: 0 20px;

		h2 {
			margin-bottom: 0;
		}
	}
}
