header.site-header {
	width: 100%;
	height: 10vh;
	background-color: hsl(209, 23%, 22%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	h1 {
		margin: 0px;
		padding: auto;
	}

	.color-mode {
		// align-self: flex-end;
		margin-right: 50px;
	}
}
